.button-list {
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #1e293b;
  color: #db1c48;
  background-color: transparent;
  height: 30px;
  width: 70px;
  cursor: pointer;
  outline: none;
}

.active-style-button {
  background-color: #db1c48;
  color: #ffffff;
}
